.card {
  height: 350px;
  width: 325px;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  border: 1px solid #F1FAEE;
  margin-left: 4%;
  margin-bottom: 50px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.select {
  border: 3px solid #457B9D;
}

h3 {
  color: #457B9D;
  font-size: 22px;
}