/*APP COMPONENT RELATED CSS GOES HERE*/
div {
  background-color: #A8DADC;
}

input {
  height: 35px;
  width: 300px;
  font-size: 35px;
  color: #BBBDF6;
  border: 2px solid #457B9D;
}

input::placeholder {
  font-size: 25px;
  color: #457B9D;
}

.header {
  color: #457B9D;
  text-align: center;
  font-size: 70px;
  font-family: Times New Roman;
}